<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Haiku validator</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    </head>
    <body>
        <h1>Haiku validator</h1>
        <form name="haiku" action="{% url haikuvalidate.views.validate %}" method="get">
            <label for="haikutext">Enter a (whitespace-separated) haiku to be validated.</label><br />
            <textarea cols="30" rows="3" id="haikutext" name="haikutext"></textarea><br />
            <input type="submit" value="Validate" />
        </form>
    </body>
</html>
