<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Haiku validator</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    </head>
    <body>
        <h1>Haiku validator</h1>
        Result:
        {% if haiku.valid %}
        Valid!<br />
        {{ haiku.arrange|linebreaks }}
        {% else %}
        Invalid.
        {% endif %}

        <br />
        <a href="{% url haikuvalidate.views.home %}">Back to main</a>
        <h2>Syllable counts</h2>
        <ul>
        {% for word in haiku.words %}
            <li>{{ word.word }} {{ word.display_syllables }}{% if word.guessed %}?{% endif %}</li>
        {% endfor %}
        </ul>

        <h2>Notes</h2>
        Syllable counts are looked up in a pronunciation dictionary, and a routine is used to guess if this is not present. Guesses are indicated by a question mark. In some cases, the pronunciation dictionary may list multiple possible syllable counts for a word, all of which are listed. The pronunication dictionary results may not include your accent. The guesses may be wrong.
    </body>
</html>
